* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
header, section, article, aside, nav, footer, address {
	display: block;
}
body {
	font-family: 'open_sansregular',Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #333;
	overflow-x: hidden;
	min-width: 320px;
}
input,textarea,select{
	font-family: 'open_sansregular',Arial, Helvetica, sans-serif;
}
a{
	color: #333;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: 'open_sanslight';
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.left{
	float: left;
}
.right{
	float: right;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}
h2.head{
	text-align: center;
	font-size: 50px;
	margin-bottom: 50px;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/open_sans/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/open_sans/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#home{
	position: relative;
}
header{
	background-image: linear-gradient(to left,#66ffff, #ccffff);
	padding: 10px 10%;
}
header h1{
	display: block;
	width: 85px;
}
header nav.menu{
	margin: 28px 0;
}
header nav.menu ul{

}
header nav.menu ul li{
	display: inline-block;
	font-size: 20px;
	margin-right: 35px;
	font-weight: bold;
}
header span.menu-icon,span.close-icon,nav.mobile-menu{
	display: none;
}
header nav.menu ul li:last-child{
	margin-right: 0;
}
header nav.menu ul li a{
	color: #000;
}
#background{
	background: url(../images/background.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#background .spotlight{
	background: rgba(0,0,0,.4);
	padding: 215px 0;
}
#background .spotlight div.content{
	text-align: center;
}
#background .spotlight div.content h2{
	color: #ffff;
	font-size: 42px;
	line-height: 1.6em;
	text-transform: uppercase;
}
#background .spotlight div.content a{
	display: inline-block;
	padding: 22px 55px;;
	text-align: center;
	color: black;
	font-size: 20px;
	font-weight: bold;
}
#background .spotlight div.content a.button{
	border: 2px solid #ffff;
	background-image: linear-gradient(to left,#ccffff, #66ffff);
	margin-top: 80px;
	border-radius: 50px;
}
#about-us{
	background-color: #f5f5f5;
	padding: 50px 0;
}
#about-us div.content{
	margin: 0 auto;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 60px 70px;
	background-color: #ffff;
	margin-bottom: 40px;
}
#about-us div.content p{
	font-size: 21px;
	line-height: 1.6em;
}
#about-us div.content p span{
	font-weight: bold;
}
#about-us ul{
	text-align: center;
}
#about-us ul li{
	width: 48%;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	float: left;
	background-color: #fff;
	padding: 20px 0;
	text-align: center;
}
#about-us ul li:nth-child(2n){
	margin-left: 4%;
}
#about-us ul li.fitst,#about-us ul li.second{
	margin-bottom: 4%;
}
#about-us ul li span{
	display: block;
	width: 128px;
	height: 128px;
	background: url('../images/women.png');
	margin: 0 auto;
}
#about-us ul li span.awareness{
	background: url('../images/awareness.png');
}
#about-us ul li span.pro{
	background: url('../images/pro.png');
}
#about-us ul li span.talks{
	background: url('../images/talks.png');
}
#about-us ul li a{
	display: inline-block;
	padding: 20px 30px;;
	text-align: center;
	color: black;
	font-size: 18px;
	font-weight: bold;
}
#about-us ul li a.button{
	margin-top: 50px;
	background-image: linear-gradient(to left,#ccffff, #66ffff);
	border-radius: 50px;
}
#our-teams{
	padding-top: 50px;
}
#our-teams .staff{
	
}
#our-teams .staff ul{
	text-align: center;
}
#our-teams .staff ul li.box{
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	float: left;
	width: 30%;
	padding: 10px;
}
#our-teams .staff ul li.box:nth-child(2){
	margin: 0 5%;
}
#our-teams .staff ul li.box div.round-image{
	width: 200px;
	height: 200px;
	margin: 0 auto;
}
#our-teams .staff ul li.box div.round-image.sana{
	background-image: url('../images/sana.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#our-teams .staff ul li.box div.round-image.sarigama{
	background-image: url('../images/sarigama.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#our-teams .staff ul li.box div.round-image.thushara{
	background-image: url('../images/thushara.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#our-teams .staff ul li.box div.content{

}
#our-teams .staff ul li.box div.content h4.name{
	margin: 20px 0;
	font-size: 25px;
}
#our-teams .staff ul li.box div.content p{
	font-size: 20px;
}
#our-teams .students{
	margin-top: 30px;
}
#our-teams .students h2{
	margin-bottom: 50px;
	text-align: center;
	font-size: 35px;
	font-weight: bold;
}
#our-teams .students ul li{
	width: 48%;
	float: left;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	padding: 15px 0;
	line-height: 1.6em;
}
#our-teams .students ul li:first-child{
	margin-right: 4%;
}
#our-teams .students ul li h3{
	text-align: center;
	border-bottom: 4px solid #b3ffff;
	display: inline;
	font-weight: bold;
	font-size: 25px;
}
#our-teams .students ul li b{
	display: inline-block;
	font-size: 21px;
}
#inauguration{
	padding: 50px 0;
	background: #f5f5f5;
	margin-top: 50px;
}
#inauguration div.content img{
	display: block;
	width: 100%;
}
#gallery{
	padding-top: 50px;
}
#gallery ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#gallery ul li{
	width: 32%;
	margin-bottom: 3%;
	transition: .8s ease-in-out;
}
#gallery ul li img{
	display: block;
	width: 100%;
}
#gallery ul li img{
	display: block;
	width: 100%;
}
#gallery ul li:hover{
	transform: scale(1.1);
	
}
#join{
	padding: 50px 0;
	background-image: linear-gradient(to top,#66ffff, #ccffff);
}
#join div.form{
	margin: 0 auto;
}
footer{
	text-align: center;
	padding: 25px 0;
	background-color: #2d2d2d;
}
footer h3{
	font-size: 20px;
	color: #fff;
}




#inaugural{
	padding-top: 40px;
}
#inaugural div.top{
	background-image: linear-gradient(to left,#66ffff, #ccffff);
	padding: 50px 0;
}
#inaugural div.top h1{
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
}
#inaugural div.bottom{
	padding-top: 50px;
	padding-bottom: 50px;
}
#inaugural div.bottom span.date{
	display: block;
	font-style: italic;
	font-size: 25px;
	margin-bottom: 30px;
}
#inaugural div.bottom p{
	font-size: 18px;
	line-height: 1.6em;
	text-transform: capitalize;
	text-align: justify;
}
#inaugural div.bottom p span{
	font-weight: bold;
}


/*responsive started*/

@media all and (max-width: 1280px){
	#background .spotlight {
		padding: 100px 0;
	}
}
@media all and (max-width: 980px){
	#background .spotlight {
		padding: 55px 0;
	}
}
@media all and (max-width: 768px){
	#background .spotlight div.content a{
		padding: 15px 45px;
	}
	#background .spotlight div.content a.button{
		margin-top: 45px;
	}
	#background .spotlight div.content h2{
		font-size: 35px;
	}
	div.head{
		font-size: 40px;
	}
	#our-teams .staff ul li.box{
		width: 100%;
	}
	#our-teams .staff ul li.box:nth-child(2){
		margin: 30px 0;
	}
}
@media all and (max-width: 640px){
	header nav.menu{
		display: none;
	}
	header span.menu-icon{
		display: block;
		float: right;
		width: 32px;
		height: 32px;
		cursor: pointer;
		top: 38px;
		position: absolute;
		right: 45px;
	}
	header span.close-icon{
		position: absolute;
		width: 32px;
		height: 32px;
		cursor: pointer;
		z-index: 55;
		right: 45px;
		top: 38px;
	}
	header nav.mobile-menu{
		background-color: rgb(102, 255, 255,.9);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		padding-top: 40px; 
	}
	header nav.mobile-menu ul li{
		margin-bottom: 30px;
		display: block;
		text-align: center;
		font-size: 25px;
	}
	header nav.mobile-menu ul li:last-child{
		margin-bottom: 0;
	}
	#background .spotlight div.content a.button{
		margin-top: 26px;
	}
	#background .spotlight div.content h2{
		font-size: 24px;
	}
	#background .spotlight div.content a{
		font-size: 15px;
		padding: 8px 20px;
	}
	h2.head{
		font-size: 40px;
	}
	#about-us div.content p{
		font-size: 16px;
	}
	#about-us div.content{
		padding: 18px 30px;
	}
	#about-us ul li{
		width: 100%;
		margin-bottom: 20px;
	}
	#about-us ul li:nth-child(2n){
		margin-left: 0;
	}
	#our-teams .students h2{
		font-size: 28px;
	}
	#our-teams .students ul li{
		width: 100%;
		margin-bottom: 30px;
	}
	#our-teams .students ul li:first-child{
		margin-right; 0;
	}
	footer h3{
		font-size: 17px;
	}
}
@media all and (max-width: 480px){
	#background .spotlight {
    	padding: 35px 0;
	}
	#background .spotlight div.content h2 {
    	font-size: 20px;
	}
	#background .spotlight div.content a.button {
    	margin-top: 17px;
    }
    #background .spotlight div.content a{
    	font-size: 12px;
    }
    footer h3{
		font-size: 12px;
	}
	#gallery ul li{
		width: 48%;
	}
	#inaugural div.top{
		padding: 20px 0;
	}
	#inaugural div.top h1{
		font-size: 28px;
	}
	#inaugural div.bottom{
		padding-top: 25px;
	}
	#inaugural div.bottom span.date {
	    font-size: 22px;
	    margin-bottom: 22px;
	}
	#inaugural div.bottom p{
		font-size: 16px;
	}
}
@media all and (max-width: 360px){
	#background .spotlight{
		padding: 25px 0;
	}
	#background .spotlight div.content h2{
		font-size: 16px;
	}
	#background .spotlight div.content a{
		font-size: 9;
	}
	h2.head{
		font-size: 30px;
	}
	#about-us div.content {
   		padding: 9px 13px;
	}
	#about-us div.content p{
		font-size: 15px;
	}
	#gallery ul li{
		width: 100%;
		margin-bottom: 7%;
	}
	header nav.mobile-menu ul li{
		margin-bottom: 20px;
	}
}
@media all and (max-width: 320px){
	footer h3{
		font-size: 8px;
	}
}

/*responsive end*/
